*{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    text-transform: none;
    text-decoration: none;
}

html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}
#app{
    height: 100%;
    min-height: 100%;
}
.flex{
    display: flex;
}
.w-full{
    width: 100%;
}
.h-full{
    height: 100%;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.m-r-8{
    margin-right: 8px;   
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.m-r-16{
    margin-right: 16px;
}
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.custom-tooltip{
    position: relative;
    top: 10px;
    left: 0px;
    font-size: 14px;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    padding: 6px 10px 6px 10px;
}
.btn{
    height: 36px;
    border-radius: 4px;
    border: none;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
}
.btn-icon{
    height: 36px;
    border-radius: 4px;
    border: 1px solid #e0e1e4!important;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
}
input{
    border: none;
}
::placeholder{
    font-size: 14px;
    color: #999;
}
input[disabled]{
    background-color: #ebecf2;
}
input[disabled]:hover{
    border-color: #e0e1e4 !important;
}