
.icon {
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.ms-toast-icon {
    background: url("../images/Sprites.64af8f61.svg") no-repeat -848px -308px;
    width: 24px;
    height: 24px;
}
.ms-toast-close {
    background: url("../images/Sprites.64af8f61.svg") no-repeat -1178px -356px;
    width: 24px;
    height: 24px;
    margin-left: 16px;
    cursor: pointer;
}
.ms-toast-error .ms-toast-icon {
    background: url("../images/Sprites.64af8f61.svg") no-repeat -1136px -467px;
    width: 24px;
    height: 24px;
}
.ms-toast-warning .ms-toast-icon {
    background: url("../images/Sprites.64af8f61.svg") no-repeat -1088px -309px;
    width: 24px;
    height: 24px;
}
.icon-all-app{
    background: url("../images/Sprites.64af8f61.svg") no-repeat -1151px -27px;
    width: 24px;
    height: 24px;
    margin: 0 12px 0 16px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon-app{
    width: 34px;
    height: 34px;
    cursor: pointer;
    background-image: url("../images/pic_app.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.icon-notifi{
    background: url("../images/Sprites.64af8f61.svg") no-repeat -788px -30px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon-help{
    background: url("../images/Sprites.64af8f61.svg") no-repeat  -732px -31px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon-work-place{
    background: url("../images/Sprites.64af8f61.svg") no-repeat  -121px -1627px;
    width: 30px;
    height: 30px;
}
.icon-overview{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url("../images/Icon.svg");
    -moz-mask-image: url("../images/Icon.svg");
    -ms-mask-image: url("../images/Icon.svg");
    -o-mask-image: url("../images/Icon.svg");
    mask-image: url("../images/Icon.svg");
    -webkit-mask-position: 0 -457px;
    -moz-mask-position: 0 -457px;
    -ms-mask-position: 0 -457px;
    -o-mask-position: 0 -457px;
    mask-position: 0 -457px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #869ab8;
}
.icon-employee{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url("../images/Icon.svg");
    -moz-mask-image: url("../images/Icon.svg");
    -ms-mask-image: url("../images/Icon.svg");
    -o-mask-image: url("../images/Icon.svg");
    mask-image: url("../images/Icon.svg");
    -webkit-mask-position: -24px -457px;
    -moz-mask-position: -24px -457px;
    -ms-mask-position: -24px -457px;
    -o-mask-position: -24px -457px;
    mask-position: -24px -457px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #869ab8;
}
.icon-contract{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url("../images/Icon.svg");
    -moz-mask-image: url("../images/Icon.svg");
    -ms-mask-image: url("../images/Icon.svg");
    -o-mask-image: url("../images/Icon.svg");
    mask-image: url("../images/Icon.svg");
    -webkit-mask-position: -48px -457px;
    -moz-mask-position: -48px -457px;
    -ms-mask-position: -48px -457px;
    -o-mask-position: -48px -457px;
    mask-position: -48px -457px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #869ab8;
}
.icon-appoint{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url("../images/Icon.svg");
    -moz-mask-image: url("../images/Icon.svg");
    -ms-mask-image: url("../images/Icon.svg");
    -o-mask-image: url("../images/Icon.svg");
    mask-image: url("../images/Icon.svg");
    -webkit-mask-position: -264px -528px;
    -moz-mask-position: -264px -528px;
    -ms-mask-position: -264px -528px;
    -o-mask-position: -264px -528px;
    mask-position: -264px -528px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #869ab8;
}
.icon-dismiss{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url("../images/Icon.svg");
    -moz-mask-image: url("../images/Icon.svg");
    -ms-mask-image: url("../images/Icon.svg");
    -o-mask-image: url("../images/Icon.svg");
    mask-image: url("../images/Icon.svg");
    -webkit-mask-position: -264px -458px;
    -moz-mask-position: -264px -458px;
    -ms-mask-position: -264px -458px;
    -o-mask-position: -264px -458px;
    mask-position: -264px -458px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #869ab8;
}
.icon-displacement{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url("../images/Icon.svg");
    -moz-mask-image: url("../images/Icon.svg");
    -ms-mask-image: url("../images/Icon.svg");
    -o-mask-image: url("../images/Icon.svg");
    mask-image: url("../images/Icon.svg");
    -webkit-mask-position: -264px -482px;
    -moz-mask-position: -264px -482px;
    -ms-mask-position: -264px -482px;
    -o-mask-position: -264px -482px;
    mask-position: -264px -482px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #869ab8;
}
.icon-termination{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url("../images/Icon.svg");
    -moz-mask-image: url("../images/Icon.svg");
    -ms-mask-image: url("../images/Icon.svg");
    -o-mask-image: url("../images/Icon.svg");
    mask-image: url("../images/Icon.svg");
    -webkit-mask-position: -264px -506px;
    -moz-mask-position: -264px -506px;
    -ms-mask-position: -264px -506px;
    -o-mask-position: -264px -506px;
    mask-position: -264px -506px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #869ab8;
}
.icon-report{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url("../images/Icon.svg");
    -moz-mask-image: url("../images/Icon.svg");
    -ms-mask-image: url("../images/Icon.svg");
    -o-mask-image: url("../images/Icon.svg");
    mask-image: url("../images/Icon.svg");
    -webkit-mask-position: -168px -457px;
    -moz-mask-position: -168px -457px;
    -ms-mask-position: -168px -457px;
    -o-mask-position: -168px -457px;
    mask-position: -168px -457px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #869ab8;
}
.icon-setting{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url("../images/Icon.svg");
    -moz-mask-image: url("../images/Icon.svg");
    -ms-mask-image: url("../images/Icon.svg");
    -o-mask-image: url("../images/Icon.svg");
    mask-image: url("../images/Icon.svg");
    -webkit-mask-position: -192px -457px;
    -moz-mask-position: -192px -457px;
    -ms-mask-position: -192px -457px;
    -o-mask-position: -192px -457px;
    mask-position: -192px -457px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #869ab8;
}
.icon-caret-left{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url("../images/Icon.svg");
    -moz-mask-image: url("../images/Icon.svg");
    -ms-mask-image: url("../images/Icon.svg");
    -o-mask-image: url("../images/Icon.svg");
    mask-image: url("../images/Icon.svg");
    -webkit-mask-position: -216px -456px;
    -moz-mask-position: -216px -456px;
    -ms-mask-position: -216px -456px;
    -o-mask-position: -216px -456px;
    mask-position: -216px -456px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #869ab8;
}
.icon-caret-right{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url("../images/Icon.svg");
    -moz-mask-image: url("../images/Icon.svg");
    -ms-mask-image: url("../images/Icon.svg");
    -o-mask-image: url("../images/Icon.svg");
    mask-image: url("../images/Icon.svg");
    -webkit-mask-position: -240px -456px; 
    -moz-mask-position: -240px -456px;
    -ms-mask-position: -240px -456px;
    -o-mask-position: -240px -456px;
    mask-position: -240px -456px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #869ab8;
}
.icon-human{
    width: 60px;
    height: 60px;
    background: url("../images/Icon.svg") -192px -796px no-repeat;
}
.icon-ratio-up{
    width: 24px;
    height: 24px;
    background: url("../images/Icon.svg") -120px 0 no-repeat;
}
.icon-ratio-down{
    width: 24px;
    height: 24px;
    background: url("../images/Icon.svg") -144px 0 no-repeat;
}
.icon-close{
    width: 24px;
    height: 24px;
    background: url("../images/Icon.svg") 0 -72px no-repeat;
    cursor: pointer;
}
.icon-align {
    width: 10px;
    height: 10px;
    display: block;
    right: 15px;
    top: -5px;
    position: absolute;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.icon-search { 
    mask-image: url("../images/Icon.svg");
    -webkit-mask-image: url("../images/Icon.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: -48px -26px;
    -webkit-mask-position: -48px -27px;
    background-color: #9fa4b4;
	width: 24px;
	height: 24px;
    position: relative;
    top: 7px;
    left: 14px;
}
.icon-btn-export{
    mask-image: url("../images/Icon.svg");
    -webkit-mask-image: url("../images/Icon.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: -24px -96px;
    -webkit-mask-position: -24px -96px;
    background-color: #686c7b;
	width: 24px;
	height: 24px;
}
.icon-dropdown{
    mask-image: url("../images/Icon.svg");
    -webkit-mask-image: url("../images/Icon.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: -76px -25px;
    -webkit-mask-position: -76px -25px;
    background-color: #686c7b;
	width: 24px;
	height: 24px;
}
.icon-prev-page{
    mask-image: url("../images/Icon.svg");
    -webkit-mask-image: url("../images/Icon.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: -77px -49px;
    -webkit-mask-position: -77px -49px;
    background-color: #686c7b;
	width: 24px;
	height: 24px;
    cursor: pointer;
}
.icon-next-page{
    mask-image: url("../images/Icon.svg");
    -webkit-mask-image: url("../images/Icon.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: -46px -49px;
    -webkit-mask-position: -46px -49px;
    background-color: #686c7b;
	width: 24px;
	height: 24px;
    cursor: pointer;
}
.icon-organization{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url("../images/Icon.svg");
    -moz-mask-image: url("../images/Icon.svg");
    -ms-mask-image: url("../images/Icon.svg");
    -o-mask-image: url("../images/Icon.svg");
    mask-image: url("../images/Icon.svg");
    -webkit-mask-position: -96px -1104px;
    -moz-mask-position: -96px -1104px;
    -ms-mask-position: -96px -1104px;
    -o-mask-position: -96px -1104px;
    mask-position: -96px -1104px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #869ab8;
}
.icon-jobposition{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url("../images/Icon.svg");
    -moz-mask-image: url("../images/Icon.svg");
    -ms-mask-image: url("../images/Icon.svg");
    -o-mask-image: url("../images/Icon.svg");
    mask-image: url("../images/Icon.svg");
    -webkit-mask-position: -217px -23px;
    -moz-mask-position: -217px -23px;
    -ms-mask-position: -217px -23px;
    -o-mask-position: -217px -23px;
    mask-position: -217px -23px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #869ab8;
}
.icon-user-role{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url("../images/Icon.svg");
    -moz-mask-image: url("../images/Icon.svg");
    -ms-mask-image: url("../images/Icon.svg");
    -o-mask-image: url("../images/Icon.svg");
    mask-image: url("../images/Icon.svg");
    -webkit-mask-position: -145px -457px;
    -moz-mask-position: -145px -457px;
    -ms-mask-position: -145px -457px;
    -o-mask-position: -145px -457px;
    mask-position: -145px -457px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #869ab8;
}

.icon-user-list{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url("../images/Icon.svg");
    -moz-mask-image: url("../images/Icon.svg");
    -ms-mask-image: url("../images/Icon.svg");
    -o-mask-image: url("../images/Icon.svg");
    mask-image: url("../images/Icon.svg");
    -webkit-mask-position:     -167px -314px;
    -moz-mask-position:     -167px -314px;
    -ms-mask-position:     -167px -314px;
    -o-mask-position:    -167px -314px;
    mask-position:     -167px -314px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #869ab8;

}
.icon-plus{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url("../images/Icon.svg");
    -moz-mask-image: url("../images/Icon.svg");
    -ms-mask-image: url("../images/Icon.svg");
    -o-mask-image: url("../images/Icon.svg");
    mask-image: url("../images/Icon.svg");
    -webkit-mask-position: -24px -24px;
    -moz-mask-position: -24px -24px;
    -ms-mask-position: -24px -24px;
    -o-mask-position: -24px -24px;
    mask-position: -24px -24px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #fff;
}
.icon-hidden {
    display: none;
}
.icon-pencil {
    width: 24px;
    height: 24px;
    background: url("../images/Icon.svg") -192px -50px no-repeat;
}
.icon-delete{
    width: 24px;
    height: 24px;
    background: url("../images/Icon.svg") -240px -74px no-repeat;
}
.icon-back{
    width: 24px;
    height: 24px;
    background: url("../images/Icon.svg") -170px -45px  no-repeat;
}
.icon-export{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url("../images/Icon.svg");
    -moz-mask-image: url("../images/Icon.svg");
    -ms-mask-image: url("../images/Icon.svg");
    -o-mask-image: url("../images/Icon.svg");
    mask-image: url("../images/Icon.svg");
    -webkit-mask-position: -24px -96px;
    -moz-mask-position: -24px -96px;
    -ms-mask-position: -24px -96px;
    -o-mask-position: -24px -96px;
    mask-position: -24px -96px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #686c7b;
}